<div class="md:col-span-2 xl:col-span-3">
  <div class="rounded bg0gray-200 p-3">
    <div class="flex justify-between py-1 text-black">
      <h3 class="text-sm font-semibold">thousandeyes.com</h3>
      <svg class="h-4 fill-current text-gray-600 cursor-pointer hidden" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
        <path d="M5 10a1.999 1.999 0 1 0 0 4 1.999 1.999 0 1 0 0-4zm7 0a1.999 1.999 0 1 0 0 4 1.999 1.999 0 1 0 0-4zm7 0a1.999 1.999 0 1 0 0 4 1.999 1.999 0 1 0 0-4z"/>
      </svg>
    </div>
    <div class="text-sm text-black mt-2">
      <iframe src="https://intoverview.share.thousandeyes.com/" class="w-full overflow-hidden thousandWindow" scrolling="no"></iframe>
    </div>
  </div>
</div>
