<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block title }}{{ endblock title }}</title>
    {{ block headStyle }}{{ endblock headStyle }} {{ block headScript }}{{
    endblock headScript }}
  </head>
  <body>
    <header>{{ block bodyHeader }}{{ endblock bodyHeader }}</header>
    <main>{{ block bodyMain }}{{ endblock bodyMain }}</main>
    <footer>{{ block bodyFooter }}{{ endblock bodyFooter }}</footer>
  </body>
</html>
