[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-3-jet = "*"
django-tailwind = "*"
requests = "*"
bs4 = "*"
bs2json = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python manage.py runserver 0.0.0.0:8000"
devstart = "python manage.py tailwind start"
build = "python manage.py tailwind build"
collect = "python manage.py collectstaticd"
